/* global styling*/
html{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem 2rem;
  background-color: #161717;
}

/* Banner image*/
.header {
  width: 100%;
  background-size: cover;
}

.header img {
  width: 100%;
}

/*the navbar styling goes here*/
/* nav bar */
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  top: 0;
  width: 100%;
  text-align: center;
}

/* how the list of pages sits */
nav ul li{
  display: inline-block;
  font-size: 1rem;
}

/* the nav text */
nav li a{
  display: block;
  color: #0c0909;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover{
  background-color: #000000;
}

nav #active{
  background-color: #3e3737;
}

/* Styling for the main section*/
/* This is the line between the main section and footer */
main{
  border-bottom: 3px solid;
  color: black;
}

/* H1 uses a google font. Check out https://www.w3schools.com/howto/howto_google_fonts.asp to change - also see line 9 in your html page*/
h1 {
  color: darkblue;
  font-family: 'Caesar Dressing';
  font-size: 60px;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  color: black;
  font-size: 30px;
  text-align: center;
}

p {
  color: black;
  font-size: 14px;
  text-align: center;
}

/* Styling for the image container and the items inside it */
.container{
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center; 
}

/*Items for all the screenshots and pictures of your stuff*/
.item{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 20%;
  min-width: 8rem;
  margin: 0.5rem;
}
 .item-info{
   padding: 0.1rem;
   text-align: center;
 }

.item img{
  width: 100%;
}